<%= form_for(@contact, :html => { :multipart => true }) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NAME %><br>
    <%= f.text_field :NAME %>
  </div>
  <div class="field">
    <%= f.label :AGE %><br>
    <%= f.text_field :AGE %>
  </div>
  <div class="field">
    <%= f.label :MOB %><br>
    <%= f.text_field :MOB %>
  </div>
    <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
