<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.NAME %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contact.AGE %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @contact.MOB %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @contact.image.url %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
